.cityCard{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
  border-radius: 12px;
  color: white;
}