



body {
  position: relative;
  background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input{
  background: none;
  border: none;
  outline: none;
}


.searchInput{
  background: linear-gradient(168.44deg, rgba(46, 51, 90, 0.26) 1.62%, rgba(28, 27, 51, 0.26) 95.72%);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

